@using Todo.WebApp.Controllers
@using static Todo.WebApp.Controllers.ControllerExtensions;
@using static Todo.WebApp.Views.ViewDataNames;

<!DOCTYPE html>
<html>
    <head>
        <title>
            Todo List
            @if(ViewData.ContainsKey(PageTitle)) {
                @: - @ViewData[PageTitle]
            }
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/lib/bootstrap-5.1.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/todolist-common.css">
        @RenderSection("pageHead", required: false)
    </head>
    <body class="container">
        <nav class="navbar justify-content-center">
            <a class="nav-link" href="@Url.Action(nameof(HomeController.Index), RoutingName<HomeController>())">Home</a>
            <a class="nav-link" href="@Url.Action(nameof(TodoListController.Create), RoutingName<TodoListController>())">Create List</a>
            @RenderSection("pageNav", required: false)
        </nav>
        <main>
            @RenderBody()
        </main>
    </body>
</html>

